@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Source+Code+Pro&display=swap');


/* elements */

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: midnightblue;
}

body, #root {
    height: 100vh; 
    margin: 0;
}

body, input, select, textarea {
    font-size: 1.6rem;
    font-family: 'Source Code Pro', monospace; 
}

footer {
    grid-area: footer;
    background-color: #68B2A0; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header {
    grid-area: header;
    background-color: #68B2A0; 
    color: white;
    padding: 1rem;
}

header a {
    color: white;
}

html {
    font-size: 125%;
    box-sizing: border-box; 
}

main {
    grid-area: main;
    background-color: #68B2A0;
    color: white;
}

/* classes */

.content {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 3;
}

.sidebar {
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header'
    'main'
    'footer';
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1rf; 
    height: 100%;
}

/* ids */