@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Source+Code+Pro&display=swap');


/* elements */

a {
    text-decoration: none;
}

a:hover {
    color: midnightblue;
    text-decoration: none;
}

body, input, select, textarea {
    font-family: 'Source Code Pro', monospace; 
}

body, #root {
    height: 100vh; 
    margin: 0;
    background-color: #68B2A0;
}

footer {
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    background-color: #68B2A0; 
    color: white;
    padding: 1rem;
}

header a {
    color: white;
}

select {
    border-radius: 5px;
    margin: .5rem;
}

/* classes */

.card-title {
    color: 'red';
}

.footer-copyright {
    text-align: center;
}

.main {
    padding-top: 1rem;
}

.cart-empty {
    font-weight: bold;
    color: red; 
}

.cart-depiction img {
    width: 25%;
    height: auto;
    margin-top: .5rem;
    margin-left: .5rem;
    border-radius: 5%; 
}

.cart-depiction {
    color: black;
}

.cart-depiction a {
    color: green; 
    font-weight: bold; 
}

.cart-depiction a:hover {
    color: midnightblue;
}

.cart-full {
    font-weight: bold;
    color: green; 
}

.filter-section {
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: white;
    text-align: center;
}

.cart-style {
    padding-top: 2.5rem;
    text-align: center;
}

.filter-result {
    margin-bottom: .5rem;
}

.sidebar {
    padding-top: 1rem;
}

.product-title a {
    color: red;
    font-weight: bold;
}

.product-title a:hover {
    color: midnightblue;
}

/* ids */